#include <iostream>
using namespace std;

int main(){

    /*resolução de problemas
    x1=x1+1
    x1+=1
    x1++ (sempre irá adicinar 1)
    */   
 int x1,x2;

 x1=20;
    
    
 
   x1++;
   std:: cout << x1 <<  " LOSE YOUSELF\n\n" ;
  
    return 0;
}
